
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 60px;
  }
  
  .recipe-card{
    margin-bottom: 80px;
  }

  @media only screen and (max-width: 1054px) {
    .cards {
     grid-template-columns: repeat(2, 1fr);

    }
  }

  @media only screen and (max-width: 600px) {
    .cards {
     grid-template-columns: repeat(1, 1fr);

    }
  }
  