<div class="recipe-item-container" *ngIf="recipe">
    
    <div class="dialog-header">
        <div class="marker-line accent-color"></div>
        <div class="close-button">
            <button type="button" class="flex-center" (click)="dialogRef.close()">
                <mat-icon aria-hidden="false" aria-label="Web cooker shop" fontIcon="close"></mat-icon>
            </button>
        </div>
    </div>

    <div class="recipe-item-title">
        <h1>
            {{ recipe.name}}
        </h1>
    </div>
  
    <div class="recipe-item-content">
        <div class="recipe-description custom-scroll-bar">
            <p class="mat-caption"> 
                {{ recipe.description}} 
            </p>
            <p>
                <strong>    
                    Ključne reči:
                </strong>
            </p>
            <ul>
                <li *ngFor="let tag of recipe.tags">
                    {{ tag.display_name}}
                </li>
            </ul>
        </div>
        <figure class="card-image-container">
            <img [src]="recipe.thumbnail_url" [alt]="recipe.thumbnail_alt_text">
        </figure>
    </div>
    <div class="button-holder primary-color flex-center">
        <div class="count-change flex-center">
            <button class="counter" (click)="counterHandler(false)" [disabled]="count === 1">
                <mat-icon aria-hidden="false" aria-label="Web cooker shop" fontIcon="remove"></mat-icon>
            </button>
            <input type="number" class="primary-color text-center" [(ngModel)]="count">
            <button class="counter" (click)="counterHandler(true)">
                <mat-icon aria-hidden="false" aria-label="Web cooker shop" fontIcon="add"></mat-icon>
            </button>
        </div>
        <app-web-cooker-button [buttonLabel]="'Dodaj u korpu'" (buttonClickedEvent)="addToCart()"></app-web-cooker-button>
        <div class="price-holder">
            Cena: {{ recipe.price * count | currency:'€ ': 'symbol' : '1.0-0' }}
        </div>
    </div>
</div>