
.recipe-item-container { 
    height: 100%;
    position: relative; 
    .dialog-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 10px;
        .marker-line {
            width: 100px;
            border: 3px solid;
            border-radius: 5px;
            height: 0;
        }
        .close-button button{
            width: 35px;
            height: 35px;
            background: none;
            border: 1px solid;
            border-radius: 999px;
            cursor: pointer;
        }
    }
    .recipe-item-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        position: absolute;
        bottom: 60px;
        .recipe-description{
            max-height: 25vh;
            overflow: auto;
            padding-right: 30px;
        }
        .card-image-container {
            width: 100%;
            padding-top: 56.25%;
            overflow: hidden;
            position: relative;
            img {
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .button-holder {
        position: absolute;
        bottom: 0;
        height: 50px;
        border-radius: 5px;
        .count-change{
            .counter{
                font-size: 36px;
                color: white;
                cursor: pointer;
                padding: 0px 10px;
                background: transparent;
                border: none;
            }
            input {
                width: 50px;
                border: none;
                border-bottom: 2px solid;
                font-size: 24px;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
                }

            input[type=number] {
                -moz-appearance: textfield;
            }
        }
    }
}


