<div class="search-holder flex-center">
    <div class="radio-search" *ngIf="searchTypeSelected === 'recipe_type'">
        <mat-radio-group
            aria-labelledby="Recipe types"
            class="custom-radio-group"
            color=primary>
            <mat-radio-button 
            class="example-radio-button" 
            *ngFor="let recipeType of recipeTypes" 
            [value]="recipeType.value"
            (change)="recipeSelected($event)">
                {{recipeType.name}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="text-search" *ngIf="searchTypeSelected === 'recipe_name'">
        <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Pretrazi..." value="" (input)="recipeNameSearch($event)">
        </mat-form-field>
    </div>
</div>