<div class="search-holder flex-center">
    <div class="radio-search" *ngIf="searchTypeSelected === 'recipe_type'">
        <mat-radio-group
            aria-labelledby="Recipe types"
            class="custom-radio-group"
            color=primary>
            <mat-radio-button 
            class="radio-button" 
            *ngFor="let recipeType of recipeTypes; let i = index" 
            [checked]="i === selectedRecipeType"
            [value]="recipeType.value"
            (change)="recipeSelected($event, i)">
                {{recipeType.name}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="text-search" *ngIf="searchTypeSelected === 'recipe_name'">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Pretrazi..." [value]="searchKeyword"  (input)="recipeNameSearch($event)">
            <mat-icon aria-hidden="false" aria-label="Web cooker shop" fontIcon="search"></mat-icon>
        </mat-form-field>
    </div>
</div>