
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import "~@angular/material/theming";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$small-web-cooker-primary: mat.define-palette(mat.$blue-palette);
$small-web-cooker-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$small-web-cooker-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$small-web-cooker-theme: mat.define-light-theme((
  color: (
    primary: $small-web-cooker-primary,
    accent: $small-web-cooker-accent,
    warn: $small-web-cooker-warn,
  )
));

$mall-web-cooker-typography-config: mat.define-typography-config(
  // $display-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  // $display-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  // $display-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $caption: mat.define-typography-level(16px, 24px, 200),
  $headline:  mat.define-typography-level(24px, 32px, 400),
);



@include mat.core($mall-web-cooker-typography-config);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($small-web-cooker-theme);

/* You can add global styles to this file, and also import other style files */

* {
	outline   : none;
	margin    : 0;
	padding   : 0;
	box-sizing: border-box;
}

html,
body {
	width : 100%;
	height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5dc3d;
}

// global styles
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// material overrides
.custom-dropdown-position {
  position: absolute;
  top: 45px;
}

.mr-10 {
  margin-right: 10px;
}

.primary-color { 
  background-color: mat-color($small-web-cooker-primary);
  color: white;
}

.accent-color {
  color: mat-color($small-web-cooker-accent);
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: black;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

// recipe dialog styling
.recipe-dialog {
  width: 70%;
  height: 50vh;
  overflow: auto;
}