<div class="paginator-container">
    <button type="button" class="web-cooker-button small-button primary-color flex-center" (click)="getData(false)" [disabled]="initialValue === 0">
        <mat-icon aria-hidden="false" aria-label="Web cooker shop" fontIcon="arrow_back"></mat-icon>
    </button>
    <button type="button" class="web-cooker-button small-button primary-color flex-center" (click)="getData(true)">
        <mat-icon aria-hidden="false" aria-label="Web cooker shop" fontIcon="arrow_forward"></mat-icon>
    </button>
</div>